.App {
  margin: 10px 4px;
}

.App div {
  margin: 10px;
}

.App.sharing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.App li {
  margin-bottom: 12px;
}

.App.sharing .callout {
  text-align: center;
  font-style: italic;
}

.App.sharing .callout.shareId {
  margin-left: 30px;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
}

.App .error-message {
  color: red;
}

input {
  height: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.button-stack {
  gap: 15px;
}

.input-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.input-row input {
  width: 75px;
}

.input-stack {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.input-stack input {
  margin-left: 25px;
}

.select-stack {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}

.select-stack select {
  align-self: center;
}

.merge-button {
  margin-top: 10px;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-self: flex-end;
}

button {
  cursor: pointer;
}

.cancel-button {
  padding: 0px;
  border: none;
  border-radius: 5px;
  color: blue;
  background-color: #fff;
  text-decoration: underline;
}

.leave-collaboration {
  margin-top: 10px;
}
